<h3>List of all doctors</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <!-- <th scope="col">BE Id (testing)</th> -->
      <th scope="col">Name</th>
      <th scope="col">Lastname</th>
      <th scope="col">Login as Doctor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of allDoctors; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <!-- <td>{{ doctor.id }}</td> -->
      <td>{{ doctor.name }}</td>
      <td>{{ doctor.lastName }}</td>
      <td><button [routerLink]="['/doctor',doctor.id]">{{doctor.name}}</button></td>
    </tr>
  </tbody>
</table>