<p>all-doctors works!</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">BE Id (testing)</th>
      <th scope="col">Name</th>
      <th scope="col">Lastname</th>
      <th scope="col">Login as Doctor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of allDoctors; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <!-- <td><a href="/house/1"></a>{{ house.number | number }}</td> -->
      <td>{{ doctor.id }}</td>
      <td>{{ doctor.name }}</td>
      <td>{{ doctor.lastName }}</td>
      <td><button [routerLink]="['/doctor',doctor.id]">{{doctor.name}}</button></td>
      <!-- <td><button [routerLink]="['/house',house.id]">Go to home {{house.id}}</button></td> -->
    </tr>
    <!-- Show loading spinner if isLoading is true -->
    <!-- <tr *ngIf="isLoading"> 
      <td colspan="7" class="text-center">
        <div class="spinner-border text-warning" style="width: 5rem; height: 5rem;" role="status"></div>
      </td>
    </tr> -->
  </tbody>
</table>