<table class="table table-striped" *ngIf="oneDoctor | async as doctor">
  <thead>
    <tr>
      <th scope="col">THE DOCTOR</th>
      <th scope="col" class="bg-success">DOCTOR TOOLS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="card mb-3" style="max-width: 540px;">
          <style>
            hr.rounded {
              border-top: 8px solid #918a8a;
              border-radius: 5px;
            }
          </style>
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://fastly.picsum.photos/id/78/1584/2376.jpg?hmac=80UVSwpa9Nfcq7sQ5kxb9Z5sD2oLsbd5zkFO5ybMC4E"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">Name:</p>
                <h5 class="card-title">{{doctor.name}}</h5>
                <hr class="rounded">
                <p class="card-text">Last Name:</p>
                <h5 class="card-title">{{doctor.lastName}}</h5>
                <hr class="dotted">
              </div>
            </div>
          </div>
        </div>

      </td>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="initNewPatien()">
        Create new Patient
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New Patient Window</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-edit-patient [patient]="patientToEdit" (patientUpdated)="updateOnePatient($event)"></app-edit-patient>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
  </tbody>
</table>

<h1 class="modal-title fs-5" *ngIf="patientByDoctorId.length">List of patients!</h1>
<table class="table table-striped" *ngIf="patientByDoctorId.length">
  <thead>
    <tr>
      <th scope="col">#</th>
      <!-- <th scope="col">Backend ID</th> -->
      <th scope="col">Name</th>
      <th scope="col">Lastname</th>
      <th scope="col">Date of birth</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patientByDoctorId; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <!-- <td>{{ patient.id}}</td> -->
      <td>{{ patient.name}}</td>
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.dateOfBirth | date:'longDate' }}</td>
      <td>{{ patient.city }}</td>
    </tr>
  </tbody>
</table>