<p>edit-patient works!</p>
<div *ngIf="patient">
  <div>
    Name:
    <input [(ngModel)]="patient.name" placeholder="Name" />
  </div>
  <div>
    Last Name:
    <input [(ngModel)]="patient.lastName" placeholder="Last Name" />
  </div>
  <div>
    Date of Birth: example(2000-01-31 (y-d-m))    
    <input [(ngModel)]="patient.dateOfBirth" placeholder="Date of Birth" />
  </div>
  <div>
    City:
    <input [(ngModel)]="patient.city" placeholder="City" />
  </div>
  <br>
  <button *ngIf="theDoctorId" type="button" class="btn btn-outline-success" (click)="createPatientAndDoctorPatient(patient, theDoctorId)"
    >Create Patient for Doctor {{theDoctorId}}</button>
</div>
