/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Shadows_Into_Light";
  font-weight: 600;
  /* font-family: "Courgette"; */
}

.CourgetteFont{
  font-family: "Courgette";
}

@font-face {
  font-family: "Shadows_Into_Light";
  src: url("assets/fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf");
}

@font-face {
  font-family: "Courgette";
  src: url("assets/fonts/Courgette/Courgette-Regular.ttf");
}

.hover-row:hover {
  background-color: #f0ae58;
  /* Set the background color on hover */
  cursor: pointer;
  /* Change the cursor to a pointer on hover */
}

.hover-button:hover {
  background-color: #6af058;
  /* Set the background color on hover */
  cursor: pointer;
  /* Change the cursor to a pointer on hover */
}