<p>all-patients works!</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Lastname</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">City</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of allPatients; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <!-- <td><a href="/house/1"></a>{{ house.number | number }}</td> -->
      <td>{{ patient.name }}</td>
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.dateOfBirth }}</td>
      <td>{{ patient.city }}</td>

      <!-- <td><button [routerLink]="['/house',house.id]">Go to home {{house.id}}</button></td> -->
    </tr>
    <!-- Show loading spinner if isLoading is true -->
    <!-- <tr *ngIf="isLoading"> 
      <td colspan="7" class="text-center">
        <div class="spinner-border text-warning" style="width: 5rem; height: 5rem;" role="status"></div>
      </td>
    </tr> -->
  </tbody>
</table>
